/.bundle
/.env*
/.kamal/secrets
/config/master.key
/log/*
/storage/*
/tmp/*
!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/tmp/storage/.keep
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep
